.canvas{
    background-color: #000;
}
body{
    background-color: #000;
}
canvas {
    
    top:0px; left:0px;
    background-image: linear-gradient(to bottom right,blue, red);
    position: absolute;
    z-index: -1;
    margin: 20px 80px auto 380px
}